*{margin:0px;
  padding:0px;
}
.caja{
width:200px;
height:200px;
position:relative;
}
.pink{background-color:#ee3e64;
     top:0; 
     left:0; }
.blue{background-color:#44accf;
      left:200px;}
.green{background-color:#b7d84b;
      right:0;
      bottom:0;}

